<!-- + _cp-block-image-description-link-column - v3.0 -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
  style="max-width:600px; width:100%; padding: 0;">

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;"></td>
  </tr>

  <!-- + item -->
  <tr>
    <!-- item -->
    <td width="580" align="center" valign="middle"
      style="display: block; width: 100%; max-width: 580px; padding: 0 10px;">
      <div style="width: 100%;">
        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0"
          style="width:100%; font-size: 16px;">

          <tr>
            <td style="display: inline-block; width: 220px; margin: 0 10px 0 0; vertical-align: top;"
              class="stack-column">
              <a href="#" target="_blank">
                <img
                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/aabe4c54-00e5-4020-beb3-af461de707c4.png"
                  width="220" height="" alt="texto alternativo" border="0"
                  style="display: block; width: 220px; height: auto; border-radius: 1em; margin: 0 0 1rem; padding: 0; border: none; background: #D9D9D9;"
                  class="img g-img">
              </a>
            </td>

            <td style="display: inline-block; width: 100%; max-width: 340px; padding: 0; vertical-align: top;"
              class="stack-column">
              <h3
                style="margin: 0 0 .5rem; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                class="title cl-dark">Modelo de Titular de Publicación</h3>
              <p style="margin: 0 0 .5rem; font-family: 'Trebuchet MS', sans-serif; text-align: justify; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                class="regularText cl-grey">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt.</p>
              <a href="#" target="_blank"
                style="font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; font-style: italic; font-weight: 800; text-decoration: none; color: #85071f;"
                class="regularText cl-red">leer más</a>
            </td>
          </tr>

        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td height="10" style="font-size:10px; line-height:10px;"></td>
  </tr>
  
  <!-- + item -->
  <tr>
    <!-- item -->
    <td width="580" align="center" valign="middle"
      style="display: block; width: 100%; max-width: 580px; padding: 0 10px;">
      <div style="width: 100%;">
        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0"
          style="width:100%; font-size: 16px;">
  
          <tr>
            <td style="display: inline-block; width: 220px; margin: 0 10px 0 0; vertical-align: top;"
              class="stack-column">
              <a href="#" target="_blank">
                <img
                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/aabe4c54-00e5-4020-beb3-af461de707c4.png"
                  width="220" height="" alt="texto alternativo" border="0"
                  style="display: block; width: 220px; height: auto; border-radius: 1em; margin: 0 0 1rem; padding: 0; border: none; background: #D9D9D9;"
                  class="img g-img">
              </a>
            </td>
  
            <td style="display: inline-block; width: 100%; max-width: 340px; padding: 0; vertical-align: top;"
              class="stack-column">
              <h3
                style="margin: 0 0 .5rem; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                class="title cl-dark">Modelo de Titular de Publicación</h3>
              <p style="margin: 0 0 .5rem; font-family: 'Trebuchet MS', sans-serif; text-align: justify; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                class="regularText cl-grey">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt.</p>
              <a href="#" target="_blank"
                style="font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; font-style: italic; font-weight: 800; text-decoration: none; color: #85071f;"
                class="regularText cl-red">leer más</a>
            </td>
          </tr>
  
        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;"></td>
  </tr>

</table>