<!-- + _cp-list-links - @linkArchivosAdjuntos -->
<table role="presentation" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:100%; background-color: #ffffff;">
  <tr><td height="10" style="font-size:10px; line-height:10px;"></td></tr>
  <tr>
    <td align="center" valign="top" style="padding: 0 10px">
      <table role="presentation" width="600" cellpadding="0" cellspacing="0" border="0" style="width:100%; font-size: 16px;">
        @linkArchivosAdjuntos
      </table>
    </td>
  </tr>
  <tr><td height="10" style="font-size:10px; line-height:10px;"></td></tr>
</table>

<!-- + _cp-list-links - @archivoCondicionadoGeneral -->
<table role="presentation" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="width:100%; background-color: #ffffff;">
  <tr><td height="10" style="font-size:10px; line-height:10px;"></td></tr>
  <tr>
    <td align="center" valign="top" style="padding: 0 10px">
      <table role="presentation" width="600" cellpadding="0" cellspacing="0" border="0" style="width:100%; font-size: 16px;">
        @archivoCondicionadoGeneral
      </table>
    </td>
  </tr>
  <tr><td height="10" style="font-size:10px; line-height:10px;"></td></tr>
</table>