<!-- + _cp-info-block-check-text - v3.0 -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
  style="max-width: 600px; width:100%;">

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;"></td>
  </tr>

  <!-- + item -->
  <tr>
    <!-- item -->
    <td width="600" align="center" valign="middle" style="width: 100%; max-width: 600px; padding: 0 10px;">
      <div style="width: 100%;">
        <table width="100%" align="top" cellspacing="0" cellpadding="0" border="0"
          style="width:100%; font-size: 16px; background-color: #ECECEC; border-radius: 25px;">

          <tr>
            <td style="display: inline-block; width: 20%; max-width: 45px; padding: 15px 0 0 15px; vertical-align: top;"
              class="stack-column">
              <img
                src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/c564fc4d-4dfe-4ca3-a52f-0a3080a61306.png"
                width="30" height="30" alt="texto alternativo" border="0"
                style="width: 30px; height: 30px; border-radius: 15px; background: #D9D9D9;padding: 0; border: none;"
                class="img g-img">
            </td>

            <td style="display: inline-block; width: 90%; max-width: 500px; padding: 15px; vertical-align: top;"
              class="stack-column">
              <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.75em; color: #f7f7f9; margin-top: 0; text-align: left;"
                class="smallText cl-grey">
                <span style="font-weight: 800;">Titular de Módulo:</span> Lorem ipsum dolor sit amet, consectetur trib
                ru adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                ty veniam, quis nostrud exercitation ullamco
              </p>
            </td>
          </tr>

        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;"></td>
  </tr>

</table>