<!-- + _cp-button-large: yellow - v3.0 -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="max-width:600px; width:100%; background-color: #ffffff;">

  <tr>
    <td height="25" style="font-size:25px; line-height:25px;"></td>
  </tr>

  <tr>
    <td align="center" valign="top" style="padding: 0;">
      <table align="center" border="0" cellspacing="0" cellpadding="0"
        style="margin: auto; font-size: 16px; height: 40px">
        <tr>
          <td class="bg-yell button-td button-td-yell" style="border-radius: 40px; background: #FFEE00;">
            <a class="button-a button-a-yell regularText cl-dark" href="#" target="_blank"
              style="background: #FFEE00; border: 1px solid #FFEE00; font-family: 'Trebuchet MS', sans-serif; font-size: 1.125em; line-height: 1.3rem; font-weight: 800; padding: 15px 26px; color: #06050a; display: block; border-radius: 40px;">
              Large button más texto
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td height="25" style="font-size:25px; line-height:25px;"></td>
  </tr>

</table>

<!-- + _cp-button-large: pink - v3.0 -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="max-width:600px; width:100%; background-color: #ffffff;">

  <tr>
    <td height="25" style="font-size:25px; line-height:25px;"></td>
  </tr>

  <tr>
    <td align="center" valign="top" style="padding: 0;">
      <table align="center" border="0" cellspacing="0" cellpadding="0"
        style="margin: auto; font-size: 16px; height: 40px">
        <tr>
          <td class="bg-red button-td button-td-red" style="border-radius: 40px; background: #85071f;">
            <a class="button-a button-a-red regularText cl-white" href="#" target="_blank"
              style="background: #85071f; border: 1px solid #85071f; font-family: 'Trebuchet MS', sans-serif; font-size: 1.125em; line-height: 1.3rem; font-weight: 800; padding: 15px 26px; color: #ffffff; display: block; border-radius: 40px;">
              Large button más texto
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td height="25" style="font-size:25px; line-height:25px;"></td>
  </tr>

</table>

<!-- + _cp-button-large: dark - v3.0 -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="max-width:600px; width:100%; background-color: #ffffff;">

  <tr>
    <td height="25" style="font-size:25px; line-height:25px;"></td>
  </tr>

  <tr>
    <td align="center" valign="top" style="padding: 0;">
      <table align="center" border="0" cellspacing="0" cellpadding="0"
        style="margin: auto; font-size: 16px; height: 40px">
        <tr>
          <td class="bg-dark button-td button-td-dark" style="border-radius: 40px; background: #06050a;">
            <a class="button-a button-a-dark regularText cl-white" href="#" target="_blank"
              style="background: #06050a; border: 1px solid #06050a; font-family: 'Trebuchet MS', sans-serif; font-size: 1.125em; line-height: 1.3rem; font-weight: 800; padding: 15px 26px; color: #ffffff; display: block; border-radius: 40px;">
              Large button más texto
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td height="25" style="font-size:25px; line-height:25px;"></td>
  </tr>

</table>
