<!-- + _cp-info-block-table-x4col-insurances-logo - prado -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
  style="max-width: 600px; width:100%;">

  <tr>
    <td height="0" style="font-size:0px; line-height:0px;"></td>
  </tr>

  <!-- item -->
  <tr>
    <td width="600" align="center" valign="middle" style="width: 100%; max-width: 600px; padding: 0px;">
      <div style="width: 100%;">
        <table width="100%" align="top" cellspacing="0" cellpadding="0" border="0"
          style="width:100%; font-size: 16px; background-color: #ECECEC; border-radius: 0px;">
          <tr>
            <td width="600" align="center" valign="middle" style="width: 100%; max-width: 600px;">

              <!-- headers -->
          <tr style="display: block; width: 100%; max-width: 600px;">
            <td style="width: 150px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 5px; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Aseguradora</span>
              </p>
            </td>
            <td style="width: 225px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 5px; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Seguro</span>
              </p>
            </td>
            <td style="width: 175px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 5px; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Prima</span>
              </p>
            </td>
            <td style="width: 50px; padding: 5px 0px; border-right: 0px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 5px; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">GPS</span>
              </p>
            </td>
          </tr>

          <!-- values - line 001 -->
          <tr style="display: block; width: 100%; max-width: 600px;">
            <td style="width: 150px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <img
                  src="https://pradoinsurance.com/email-assets/insurance_rimac.png"
                  width="58" height="" alt="texto alternativo"
                  style="display: block; margin: 0 auto; padding:0; border:none; width: 58px; height: auto; border-radius: 0;"
                  border="0" class="img g-img">
              </p>
            </td>
            <td style="width: 225px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Plan: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{risk}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Suma Asegurada: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-value}</span>
              </p>
            </td>
            <td style="width: 175px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Total: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-price}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Mensual: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{month-price}</span>
              </p>
            </td>
            <td style="width: 50px; padding: 10px 0px; border-right: 0px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{gps}</span>
              </p>
            </td>
          </tr>

          <!-- values - line 001 -->
          <tr style="display: block; width: 100%; max-width: 600px;">
            <td style="width: 150px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <img src="https://pradoinsurance.com/email-assets/insurance_lapositiva.png" width="68" height=""
                  alt="texto alternativo"
                  style="display: block; margin: 0 auto; padding:0; border:none; width: 68px; height: auto; border-radius: 0;"
                  border="0" class="img g-img">
              </p>
            </td>
            <td style="width: 225px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Plan: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{risk}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Suma Asegurada: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-value}</span>
              </p>
            </td>
            <td style="width: 175px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Total: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-price}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Mensual: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{month-price}</span>
              </p>
            </td>
            <td style="width: 50px; padding: 10px 0px; border-right: 0px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{gps}</span>
              </p>
            </td>
          </tr>

          <!-- values - line 001 -->
          <tr style="display: block; width: 100%; max-width: 600px;">
            <td style="width: 150px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <img src="https://pradoinsurance.com/email-assets/insurance_pacifico.png" width="75" height=""
                  alt="texto alternativo"
                  style="display: block; margin: 0 auto; padding:0; border:none; width: 75px; height: auto; border-radius: 0;"
                  border="0" class="img g-img">
              </p>
            </td>
            <td style="width: 225px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Plan: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{risk}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Suma Asegurada: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-value}</span>
              </p>
            </td>
            <td style="width: 175px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Total: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-price}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Mensual: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{month-price}</span>
              </p>
            </td>
            <td style="width: 50px; padding: 10px 0px; border-right: 0px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{gps}</span>
              </p>
            </td>
          </tr>

          <!-- values - line 001 -->
          <tr style="display: block; width: 100%; max-width: 600px;">
            <td style="width: 150px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <img src="https://pradoinsurance.com/email-assets/insurance_mapfre.png" width="80" height=""
                  alt="texto alternativo"
                  style="display: block; margin: 0 auto; padding:0; border:none; width: 80px; height: auto; border-radius: 0;"
                  border="0" class="img g-img">
              </p>
            </td>
            <td style="width: 225px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Plan: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{risk}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Suma Asegurada: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-value}</span>
              </p>
            </td>
            <td style="width: 175px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Total: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-price}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Mensual: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{month-price}</span>
              </p>
            </td>
            <td style="width: 50px; padding: 10px 0px; border-right: 0px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{gps}</span>
              </p>
            </td>
          </tr>

          <!-- values - line 001 -->
          <tr style="display: block; width: 100%; max-width: 600px;">
            <td style="width: 150px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <img src="https://pradoinsurance.com/email-assets/insurance_qualitas.png" width="78" height=""
                  alt="texto alternativo"
                  style="display: block; margin: 0 auto; padding:0; border:none; width: 78px; height: auto; border-radius: 0;"
                  border="0" class="img g-img">
              </p>
            </td>
            <td style="width: 225px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Plan: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{risk}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Suma Asegurada: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-value}</span>
              </p>
            </td>
            <td style="width: 175px; padding: 10px 0px; border-right: 1px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Total: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{total-price}</span>
              </p>
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: left; color: #06050a;"
                class="cl-dark">
                - Mensual: <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{month-price}</span>
              </p>
            </td>
            <td style="width: 50px; padding: 10px 0px; border-right: 0px dotted #9A9A9A; border-top: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 5px; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{gps}</span>
              </p>
            </td>
          </tr>

    </td>
  </tr>
</table>
</div>
</td>
</tr>

<tr>
  <td height="10" style="font-size:10px; line-height:10px;"></td>
</tr>

</table>