<!-- + _cp-video-description - v3.0 -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
  style="max-width:600px; width:100%;">

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;"></td>
  </tr>

  <!-- + item -->
  <tr>
    <!-- item -->
    <td width="580" align="center" valign="middle"
      style="display: block; width: 100%; max-width: 580px; padding: 0 10px;">
      <div style="width: 100%;">
        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0"
          style="width:100%; font-size: 16px;">

          <tr>
            <td style="display: inline-block; width: 290px; margin: 0 10px 0 0; vertical-align: top;"
              class="stack-column">
              <a href="#" target="_blank">
                <img
                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/b48dc245-90b2-429a-bd29-4ab83f5e2a03.png"
                  width="290" height="" alt="texto alternativo" border="0"
                  style="display: block; width: 290px; height: auto; border-radius: 1em; margin: 0 0 1rem; padding: 0; border: none; background: #D9D9D9;"
                  class="img g-img">
              </a>
            </td>

            <td style="display: inline-block; width: 100%; max-width: 280px; padding: 0; vertical-align: top;"
              class="stack-column">
              <h4
                style="margin: 0 0 .5rem; font-size: 1.25em; line-height: 1.3em; font-weight: 800; color: #06050a; text-align: left;"
                class="subTitle cl-dark">
                Titular de video de lista
              </h4>
              <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.3em; color: #f7f7f9; text-align: left; margin-top: 0;"
                class="regularText cl-grey">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna.
              </p>
              <table align="left" border="0" cellspacing="0" cellpadding="0"
                style="margin: auto; font-size: 16px; height: 40px">
                <tr>
                  <td height="15" style="font-size:15px; line-height:15px;"></td>
                </tr>
                <tr>
                  <td class="bg-red button-td button-td-red" style="border-radius: 40px; background: #85071f;">
                    <a class="button-a button-a-red regularText cl-white" href="#" target="_blank"
                      style="background: #85071f; border: 1px solid #85071f; font-family: 'Trebuchet MS', sans-serif; font-size: 1.125em; line-height: 1.3rem; font-weight: 800; padding: 6px 25px; color: #ffffff; display: block; border-radius: 40px;">
                      Ver video
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td height="10" style="font-size:10px; line-height:10px;"></td>
  </tr>
  
  <!-- + item -->
  <tr>
    <!-- item -->
    <td width="580" align="center" valign="middle"
      style="display: block; width: 100%; max-width: 580px; padding: 0 10px;">
      <div style="width: 100%;">
        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0"
          style="width:100%; font-size: 16px;">
  
          <tr>
            <td style="display: inline-block; width: 290px; margin: 0 10px 0 0; vertical-align: top;"
              class="stack-column">
              <a href="#" target="_blank">
                <img
                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/b48dc245-90b2-429a-bd29-4ab83f5e2a03.png"
                  width="290" height="" alt="texto alternativo" border="0"
                  style="display: block; width: 290px; height: auto; border-radius: 1em; margin: 0 0 1rem; padding: 0; border: none; background: #D9D9D9;"
                  class="img g-img">
              </a>
            </td>
  
            <td style="display: inline-block; width: 100%; max-width: 280px; padding: 0; vertical-align: top;"
              class="stack-column">
              <h4
                style="margin: 0 0 .5rem; font-size: 1.25em; line-height: 1.3em; font-weight: 800; color: #06050a; text-align: left;"
                class="subTitle cl-dark">
                Titular de video de lista
              </h4>
              <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.3em; color: #f7f7f9; text-align: left; margin-top: 0;"
                class="regularText cl-grey">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna.
              </p>
              <table align="left" border="0" cellspacing="0" cellpadding="0"
                style="margin: auto; font-size: 16px; height: 40px">
                <tr>
                  <td height="15" style="font-size:15px; line-height:15px;"></td>
                </tr>
                <tr>
                  <td class="bg-red button-td button-td-red" style="border-radius: 40px; background: #85071f;">
                    <a class="button-a button-a-red regularText cl-white" href="#" target="_blank"
                      style="background: #85071f; border: 1px solid #85071f; font-family: 'Trebuchet MS', sans-serif; font-size: 1.125em; line-height: 1.3rem; font-weight: 800; padding: 6px 25px; color: #ffffff; display: block; border-radius: 40px;">
                      Ver video
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
  
        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;"></td>
  </tr>

</table>