<!-- + _cp-box-steps-x3-border-icon-60px - v3.0 -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="max-width:600px; width:100%; background-color: #ffffff;">

  <tr>
    <td height="20" style="font-size:20px; line-height:20px;"></td>
  </tr>

  <tr>
    <td align="center" valign="top" style="padding: 1rem 0;">
      <table width="600" cellpadding="0" cellspacing="0" border="0"
        style="max-width:600px; width:100%; font-size: 16px;">
        <tr>
          <td width="600" align="center" valign="top">

            <!-- step -->
            <div style="display:inline-block; margin: 0 -1px; vertical-align: middle;" class="stack-column">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td valign="center"
                    style="display: inline-block; width: 160px; min-height: 205px; height: auto; margin: 1rem 0; border-radius: 0 25px 25px 25px; vertical-align: middle; background-color: #f7f7f9;"
                    class="bg-light">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td style="padding: 10px">
                          <img
                            src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/af42cbe1-cf12-4d54-a3e5-238cbf03e901.png"
                            width="60" height="60" alt="descripción del contenido de la imagen" border="0"
                            style="display: block; width: 60px; height: 60px; margin: 0 0 15px; padding: 0; border: none; border-radius: 30px; background: #D9D9D9;"
                            class="img g-img">
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 100%; padding: 0 13px; vertical-align: middle;">
                          <h3
                            style="margin: 0 0 .3rem; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1em; font-weight: 800; color: #06050a;"
                            class="smallTitle cl-dark">
                            Apertura<br>cuentas y pide un préstamo</h3>
                          <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.1em; color: #f7f7f9;"
                            class="smallText cl-grey">
                            ingresando a<br>
                            <span style="font-size: 1.25em; line-height: 1.3em; font-weight: 800;"
                              class="subTitle">qapaq.pe</span>
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <!-- icon -->
            <div style="display:inline-block; margin: 0 -1px; vertical-align: middle;" class="stack-column">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td style="display: inline-block; width: 38px; height: 38px; vertical-align: middle;">
                    <!-- <img src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/6c375a41-be56-4555-b5b0-43519d652c7a.png" width="38" height="38" alt="texto alternativo"
                                  border="0" style="display: block; width: 38px; height: 38px; margin:0; padding:0; border:none; border-radius: 0px;"
                                  class="img g-img"> -->
                  </td>
                </tr>
              </table>
            </div>

            <!-- step -->
            <div style="display:inline-block; margin: 0 -1px; vertical-align: middle;" class="stack-column">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td valign="center"
                    style="display: inline-block; width: 160px; min-height: 205px; height: auto; margin: 1rem 0; border-radius: 0 25px 25px 25px; vertical-align: middle; background-color: #85071f;"
                    class="bg-red">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td style="padding: 10px">
                          <img
                            src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/af42cbe1-cf12-4d54-a3e5-238cbf03e901.png"
                            width="60" height="60" alt="descripción del contenido de la imagen" border="0"
                            style="display: block; width: 60px; height: 60px; margin: 0 0 15px; padding: 0; border: none; border-radius: 30px; background: #D9D9D9;"
                            class="img g-img">
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 100%; padding: 0 13px; vertical-align: middle;">
                          <h3
                            style="margin: 0 0 .3rem; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1em; font-weight: 800; color: #ffffff;"
                            class="smallTitle cl-white">
                            Consulta<br>saldos y realiza operaciones</h3>
                          <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.1em; color: #ffffff;"
                            class="smallText cl-white">
                            en nuestra<br>
                            <span style="font-size: 1.25em; line-height: 1.3em; font-weight: 800;" class="subTitle">App
                              de Qapaq</span>
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

            <!-- icon -->
            <div style="display:inline-block; margin: 0 -1px; vertical-align: middle;" class="stack-column">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td style="display: inline-block; width: 38px; height: 38px; vertical-align: middle;">
                    <!-- <img src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/6c375a41-be56-4555-b5b0-43519d652c7a.png" width="38" height="38" alt="texto alternativo"
                                  border="0" style="display: block; width: 38px; height: 38px; margin:0; padding:0; border:none; border-radius: 0px;"
                                  class="img g-img"> -->
                  </td>
                </tr>
              </table>
            </div>

            <!-- step -->
            <div style="display:inline-block; margin: 0 -1px; vertical-align: middle;" class="stack-column">
              <table cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <td valign="center"
                    style="display: inline-block; width: 160px; min-height: 205px; height: auto; margin: 1rem 0; border-radius: 0 25px 25px 25px; vertical-align: middle; background-color: #ffee00;"
                    class="bg-yell">
                    <table align="left" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td style="padding: 10px">
                          <img
                            src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/af42cbe1-cf12-4d54-a3e5-238cbf03e901.png"
                            width="60" height="60" alt="descripción del contenido de la imagen" border="0"
                            style="display: block; width: 60px; height: 60px; margin: 0 0 15px; padding: 0; border: none; border-radius: 30px; background: #D9D9D9;"
                            class="img g-img">
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 100%; padding: 0 13px; vertical-align: middle;">
                          <h3
                            style="margin: 0 0 .3rem; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1em; font-weight: 800; color: #06050a;"
                            class="smallTitle cl-dark">
                            Consulta<br>saldos y realiza operaciones</h3>
                          <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.1em; color: #06050a;"
                            class="smallText cl-dark">
                            en la Banca por<br>
                            <span style="font-size: 1.25em; line-height: 1.3em; font-weight: 800;"
                              class="subTitle">Internet</span>
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>

          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td height="20" style="font-size:20px; line-height:20px;"></td>
  </tr>

</table>