<!-- + _cp-info-block-table-x6col - prado -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
  style="max-width: 600px; width:100%;">

  <tr>
    <td height="5" style="font-size:5px; line-height:5px;"></td>
  </tr>

  <!-- item -->
  <tr>
    <td width="600" align="center" valign="middle" style="width: 100%; max-width: 600px; padding: 0px;">
      <div style="width: 100%;">
        <table width="100%" align="top" cellspacing="0" cellpadding="0" border="0"
          style="width:100%; font-size: 16px; background-color: #ECECEC; border-radius: 0px;">
          <tr>
            <td width="600" align="center" valign="middle" style="width: 100%; max-width: 600px;">

              <!-- headers -->
          <tr style="display: block; width: 100%; max-width: 600px;">
            <td
              style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A; border-bottom: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 0; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Cert.</span>
              </p>
            </td>
            <td
              style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A; border-bottom: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 0; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Placa</span>
              </p>
            </td>
            <td
              style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A; border-bottom: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 0; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Uso</span>
              </p>
            </td>
            <td
              style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A; border-bottom: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 0; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Marca</span>
              </p>
            </td>
            <td
              style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A; border-bottom: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 0; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Modelo</span>
              </p>
            </td>
            <td
              style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A; border-bottom: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 0; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Año</span>
              </p>
            </td>
            <td
              style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A; border-bottom: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 0; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">GLP|GNV</span>
              </p>
            </td>
            <td
              style="width: 75px; padding: 5px 0px; border-right: 0px dotted #9A9A9A; border-bottom: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; padding: 5px 0; text-align: center; color: #06050a;"
                class="regularText cl-dark">
                <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Ubic.</span>
              </p>
            </td>
          </tr>

          <!-- values - line 001 -->
          <tr style="display: block; width: 100%; max-width: 600px;">
            <td style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 0; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{cert}</span>
              </p>
            </td>
            <td style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 0; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{tag}</span>
              </p>
            </td>
            <td style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 0; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{usage}</span>
              </p>
            </td>
            <td style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 0; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{brand}</span>
              </p>
            </td>
            <td style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 0; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{model}</span>
              </p>
            </td>
            <td style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 0; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{year}</span>
              </p>
            </td>
            <td style="width: 75px; padding: 5px 0px; border-right: 1px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 0; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{gas}</span>
              </p>
            </td>
            <td style="width: 75px; padding: 5px 0px; border-right: 0px dotted #9A9A9A;">
              <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 0.8em; line-height: 1em; padding: 3px 0; text-align: center; color: #06050a;"
                class="cl-dark">
                <span style="font-weight: 400; color: #06050a;" class="cl-dark">@{location}</span>
              </p>
            </td>
          </tr>

    </td>
  </tr>
</table>
</div>
</td>
</tr>

<tr>
  <td height="5" style="font-size:5px; line-height:5px;"></td>
</tr>

</table>