<!-- + _cp-cta-block-button-img-large - v3.0 -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
  style="max-width:600px; width:100%;">

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;"></td>
  </tr>

  <!-- + item -->
  <tr>
    <!-- item -->
    <td width="600" align="center" valign="middle" style="display: block; width: 100%; max-width: 600px; padding: 0">
      <div style="width: 100%; max-width: 600px; vertical-align: middle;">
        <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0"
          style="max-width:600px; width:100%; font-size: 16px;">

          <tr>
            <td style="width: 100%; max-width: 600px; padding: 0 10px; vertical-align: top;">
              <img
                src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/fea64930-d8e1-4ecc-a405-8aa1f4ea07f2.png"
                width="600" height="" alt="texto alternativo" border="0"
                style="display: block; width: 100%; height: auto; border-radius: 1.5em; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                class="img g-img">
            </td>
          </tr>

          <tr>
            <td height="10" style="font-size:10px; line-height:10px;"></td>
          </tr>

          <tr>
            <td style="width: 100%; max-width: 580px; padding: 0 10px;">
              <table width="100%" align="center" cellspacing="0" cellpadding="0" border="0"
                style="background-color: #06050a; border-radius: 1.5rem;" class="bg-dark">
                <tr>
                  <td style="padding: 20px;">
                    <h3
                      style="margin: 0 0 1rem; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.25em; line-height: 1.3em; font-weight: 800; color: #85071f;"
                      class="subTitle cl-red">
                      Titular de esta sección:
                    </h3>
                    <p style="margin: 0 0 .5rem; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.1em; color: #ffffff;"
                      class="smallText cl-white">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua.
                    </p>
                    <table align="left" border="0" cellspacing="0" cellpadding="0"
                      style="margin: auto; font-size: 16px; height: 40px">
                      <tr>
                        <td height="15" style="font-size:15px; line-height:15px;"></td>
                      </tr>
                      <tr>
                        <td class="bg-yell button-td button-td-yell" style="border-radius: 40px; background: #FFEE00;">
                          <a class="button-a button-a-yell regularText cl-dark" href="#" target="_blank"
                            style="background: #FFEE00; border: 1px solid #FFEE00; font-family: 'Trebuchet MS', sans-serif; font-size: 1.125em; line-height: 1.3rem; font-weight: 800; padding: 6px 25px; color: #06050a; display: block; border-radius: 40px;">
                            Usar texto corto
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        </table>
      </div>
    </td>
  </tr>

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;"></td>
  </tr>

</table>