<!-- + _img-gif-content-border - v3.0 -->
<table role="presentation" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#fefdfb" style="width:100%; background-color: #fefdfb;" class="bg-body">
  <tr><td height="20px" style="font-size:20px; line-height:20px;"></td></tr>
  <tr>
    <td align="center" valign="top" style="padding: 10px;">
      <table role="presentation" width="600" cellpadding="0" cellspacing="0" border="0"
        style="width:100%;">
        <tr>
          <td width="600" align="left" valign="top">
            <img
              src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/fea64930-d8e1-4ecc-a405-8aa1f4ea07f2.png"
              width="600" height="" alt="texto alternativo"
              style="display: block; margin:0; padding:0; border:none; width: 100%; height: auto; border-radius: 25px; background: #D9CAC2;"
              border="0" class="img g-img bg-grey">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td height="20px" style="font-size:20px; line-height:20px;"></td></tr>
</table>