<!-- + _list-columns-x2-steps-number - v3.0 -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
  style="max-width:600px; width:100%;" bgcolor="#FFFFFF">

  <tr>
    <td height="20" style="font-size:20px; line-height:20px;"></td>
  </tr>

  <!-- fila x2 items -->
  <tr>
    <td align="center" valign="top">

      <table width="600" align="center" border="0" cellspacing="0" cellpadding="0"
        style="max-width:600px; width:100%; font-size: 16px; max-height: 124px;">
        <tr>
          <!-- step -->
          <td width="300" align="center" valign="top"
            style="display: inline-block; width: 48%; max-width: 600px; padding: 0 1%;" class="stack-column">
            <div style="margin: 0 -1px; width: 100%; max-width: 600px; vertical-align: top;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <!-- + step item DARK - LEFT -->
                  <td style="display: inline-block; margin: 10px 0; width: 100%; max-width: 290px; height: 120px;"
                    class="stack-column">
                    <table align="center" cellspacing="0" cellpadding="0" border="0">
                      <tr style="width: 100%;">

                        <td
                          style="width: 35%; width: 104px; height: 124px; background-color: #06050a; border-radius: 25px 0 0 25px;"
                          class="bg-dark">
                          <!-- #: letter / number -->
                          <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 6em; line-height: 0; font-weight: 800; color: #ffffff; margin: 0; text-align: center;"
                            class="cl-white">
                            A
                          </p>
                          <!-- #: image 97x120px -->
                          <!-- <img src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/35355a60-2687-4615-9c89-03fde61a7746.png" width="97" height="" alt="descripción del contenido de la imagen" border="0" style="width: 97px; height: auto; border-radius: 23px 0 0 23px; background: #D9D9D9; margin: auto; padding: 0; border: none; display: block;" class="g-img"> -->
                        </td>

                        <td
                          style="font-family: 'Trebuchet MS', sans-serif; width: 64%; max-width: 186px; height: 124px; background-color: #06050a; border-radius: 0 25px 25px 0; vertical-align: middle;"
                          class="bg-dark">
                          <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; color: #06050a; margin: 0; text-align: left; padding: 0 5px; width: 170px; height: 120px; background-color: #fff; border-radius: 0 23px 23px 0;" class="smallText cl-dark">
                            <span style="display: block; font-weight: 800; padding-top: 8px; margin: 0;">Titular de Módulo:</span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                          </p>
                        </td>

                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>

          <!-- image -->
          <td width="300" align="center" valign="top"
            style="display: inline-block; width: 48%; max-width: 600px; padding: 0 1%;" class="stack-column">
            <div style="margin: 0 -1px; width: 100%; max-width: 600px; vertical-align: top;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <!-- + image -->
                  <td
                    style="display: inline-block; margin: 10px 0; text-align: center; width: 100%; max-width: 290px; height: auto;"
                    class="stack-column">
                    <table align="center" cellspacing="0" cellpadding="0" border="0">
                      <tr style="width: 100%; max-width: 290px;">
                        <td>
                          <img
                            src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/d631733e-97fe-4559-88e4-a18ffae38b92.png"
                            width="290" height="120" alt="descripción del contenido de la imagen" border="0"
                            style="display: block; width: 290px; height: auto; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                            class="g-img">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>

    </td>
  </tr>

  <tr>
    <td height="5" style="font-size:5px; line-height:5px;"></td>
  </tr>

  <!-- fila x2 items -->
  <tr>
    <td align="center" valign="top">

      <table width="600" align="center" border="0" cellspacing="0" cellpadding="0"
        style="max-width:600px; width:100%; font-size: 16px; max-height: 124px;">
        <tr>
          <!-- step -->
          <td width="300" align="center" valign="top"
            style="display: inline-block; width: 48%; max-width: 600px; padding: 0 1%;" class="stack-column">
            <div style="margin: 0 -1px; width: 100%; max-width: 600px; vertical-align: top;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <!-- + step item DARK - LEFT -->
                  <td style="display: inline-block; margin: 10px 0; width: 100%; max-width: 290px; height: 120px;"
                    class="stack-column">
                    <table align="center" cellspacing="0" cellpadding="0" border="0">
                      <tr style="width: 100%;">

                        <td
                          style="width: 35%; width: 104px; height: 124px; background-color: #FFEE00; border-radius: 25px 0 0 25px;"
                          class="bg-yell">
                          <!-- #: letter / number -->
                          <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 6em; line-height: 0; font-weight: 800; color: #ffffff; margin: 0; text-align: center;"
                            class="cl-white">
                            2
                          </p>
                          <!-- #: image 97x120px -->
                          <!-- <img src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/35355a60-2687-4615-9c89-03fde61a7746.png" width="97" height="" alt="descripción del contenido de la imagen"
                                        border="0" style="width: 97px; height: auto; border-radius: 23px 0 0 23px; background: #D9D9D9; margin: auto; padding: 0; border: none; display: block;"
                                        class="g-img"> -->
                        </td>

                        <td
                          style="font-family: 'Trebuchet MS', sans-serif; width: 64%; max-width: 186px; height: 124px; background-color: #FFEE00; border-radius: 0 25px 25px 0; vertical-align: middle;"
                          class="bg-yell">
                          <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; color: #06050a; margin: 0; text-align: left; padding: 0 5px; width: 170px; height: 120px; background-color: #fff; border-radius: 0 23px 23px 0;"
                            class="smallText cl-dark">
                            <span style="display: block; font-weight: 800; padding-top: 8px; margin: 0;">Titular de
                              Módulo:</span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                          </p>
                        </td>

                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>

          <!-- image -->
          <td width="300" align="center" valign="top"
            style="display: inline-block; width: 48%; max-width: 600px; padding: 0 1%;" class="stack-column">
            <div style="margin: 0 -1px; width: 100%; max-width: 600px; vertical-align: top;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <!-- + image -->
                  <td
                    style="display: inline-block; margin: 10px 0; text-align: center; width: 100%; max-width: 290px; height: auto;"
                    class="stack-column">
                    <table align="center" cellspacing="0" cellpadding="0" border="0">
                      <tr style="width: 100%; max-width: 290px;">
                        <td>
                          <img
                            src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/d631733e-97fe-4559-88e4-a18ffae38b92.png"
                            width="290" height="120" alt="descripción del contenido de la imagen" border="0"
                            style="display: block; width: 290px; height: auto; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                            class="g-img">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>

    </td>
  </tr>

  <tr>
    <td height="5" style="font-size:5px; line-height:5px;"></td>
  </tr>

  <!-- fila x2 items -->
  <tr>
    <td align="center" valign="top">

      <table width="600" align="center" border="0" cellspacing="0" cellpadding="0"
        style="max-width:600px; width:100%; font-size: 16px; max-height: 124px;">
        <tr>
          <!-- step -->
          <td width="300" align="center" valign="top"
            style="display: inline-block; width: 48%; max-width: 600px; padding: 0 1%;" class="stack-column">
            <div style="margin: 0 -1px; width: 100%; max-width: 600px; vertical-align: top;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <!-- + step item DARK - LEFT -->
                  <td style="display: inline-block; margin: 10px 0; width: 100%; max-width: 290px; height: 120px;"
                    class="stack-column">
                    <table align="center" cellspacing="0" cellpadding="0" border="0">
                      <tr style="width: 100%;">

                        <td
                          style="width: 35%; width: 104px; height: 124px; background-color: #f7f7f9; border-radius: 25px 0 0 25px;"
                          class="bg-grey">
                          <!-- #: letter / number -->
                          <!-- <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 6em; line-height: 0; font-weight: 800; color: #ffffff; margin: 0; text-align: center;" class="cl-white">
                            3
                          </p> -->
                          <!-- #: image 97x120px -->
                          <img
                            src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/35355a60-2687-4615-9c89-03fde61a7746.png"
                            width="97" height="" alt="descripción del contenido de la imagen" border="0"
                            style="width: 97px; height: auto; border-radius: 23px 0 0 23px; background: #D9D9D9; margin: auto; padding: 0; border: none; display: block;"
                            class="g-img">
                        </td>

                        <td
                          style="font-family: 'Trebuchet MS', sans-serif; width: 64%; max-width: 186px; height: 124px; background-color: #f7f7f9; border-radius: 0 25px 25px 0; vertical-align: middle;"
                          class="bg-grey">
                          <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; color: #06050a; margin: 0; text-align: left; padding: 0 5px; width: 170px; height: 120px; background-color: #ffffff; border-radius: 0 23px 23px 0;"
                            class="smallText cl-dark">
                            <span style="display: block; font-weight: 800; padding-top: 8px; margin: 0;">Titular de
                              Módulo:</span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                          </p>
                        </td>

                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>

          <!-- image -->
          <td width="300" align="center" valign="top"
            style="display: inline-block; width: 48%; max-width: 600px; padding: 0 1%;" class="stack-column">
            <div style="margin: 0 -1px; width: 100%; max-width: 600px; vertical-align: top;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <!-- + image -->
                  <td
                    style="display: inline-block; margin: 10px 0; text-align: center; width: 100%; max-width: 290px; height: auto;"
                    class="stack-column">
                    <table align="center" cellspacing="0" cellpadding="0" border="0">
                      <tr style="width: 100%; max-width: 290px;">
                        <td>
                          <img
                            src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/d631733e-97fe-4559-88e4-a18ffae38b92.png"
                            width="290" height="120" alt="descripción del contenido de la imagen" border="0"
                            style="display: block; width: 290px; height: auto; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                            class="g-img">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>

    </td>
  </tr>

  <tr>
    <td height="5" style="font-size:5px; line-height:5px;"></td>
  </tr>

  <!-- fila x2 items -->
  <tr>
    <td align="center" valign="top">

      <table width="600" align="center" border="0" cellspacing="0" cellpadding="0"
        style="max-width:600px; width:100%; font-size: 16px; max-height: 124px;">
        <tr>
          <!-- step -->
          <td width="300" align="center" valign="top"
            style="display: inline-block; width: 48%; max-width: 600px; padding: 0 1%;" class="stack-column">
            <div style="margin: 0 -1px; width: 100%; max-width: 600px; vertical-align: top;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <!-- + step item DARK - LEFT -->
                  <td style="display: inline-block; margin: 10px 0; width: 100%; max-width: 290px; height: 120px;"
                    class="stack-column">
                    <table align="center" cellspacing="0" cellpadding="0" border="0">
                      <tr style="width: 100%;">

                        <td
                          style="width: 35%; width: 104px; height: 124px; background-color: #85071f; border-radius: 25px 0 0 25px;"
                          class="bg-red">
                          <!-- #: letter / number -->
                          <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 6em; line-height: 0; font-weight: 800; color: #ffffff; margin: 0; text-align: center;"
                            class="cl-white">
                            4
                          </p>
                          <!-- #: image 97x120px -->
                          <!-- <img src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/35355a60-2687-4615-9c89-03fde61a7746.png" width="97" height="" alt="descripción del contenido de la imagen"
                                          border="0" style="width: 97px; height: auto; border-radius: 23px 0 0 23px; background: #D9D9D9; margin: auto; padding: 0; border: none; display: block;"
                                          class="g-img"> -->
                        </td>

                        <td
                          style="font-family: 'Trebuchet MS', sans-serif; width: 64%; max-width: 186px; height: 124px; background-color: #85071f; border-radius: 0 25px 25px 0; vertical-align: middle;"
                          class="bg-red">
                          <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.1em; color: #06050a; margin: 0; text-align: left; padding: 0 5px; width: 170px; height: 120px; background-color: #fff; border-radius: 0 23px 23px 0;"
                            class="smallText cl-dark">
                            <span style="display: block; font-weight: 800; padding-top: 8px; margin: 0;">Titular de
                              Módulo:</span>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                          </p>
                        </td>

                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>

          <!-- image -->
          <td width="300" align="center" valign="top"
            style="display: inline-block; width: 48%; max-width: 600px; padding: 0 1%;" class="stack-column">
            <div style="margin: 0 -1px; width: 100%; max-width: 600px; vertical-align: top;">
              <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                <tr>
                  <!-- + image -->
                  <td
                    style="display: inline-block; margin: 10px 0; text-align: center; width: 100%; max-width: 290px; height: auto;"
                    class="stack-column">
                    <table align="center" cellspacing="0" cellpadding="0" border="0">
                      <tr style="width: 100%; max-width: 290px;">
                        <td>
                          <img
                            src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/d631733e-97fe-4559-88e4-a18ffae38b92.png"
                            width="290" height="120" alt="descripción del contenido de la imagen" border="0"
                            style="display: block; width: 290px; height: auto; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                            class="g-img">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>

    </td>
  </tr>

  <tr>
    <td height="20" style="font-size:20px; line-height:20px;"></td>
  </tr>

</table>