<!-- + _list-columns-x1-check-16px - prado v1.0 -->
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="max-width:600px; width:100%; background-color: #ffffff;">

  <tr><td height="20" style="font-size:20px; line-height:20px;"></td></tr>

  <!-- list -->
  <tr>
    <td align="center" valign="top" style="padding: 0 10px;">

      <table width="600" align="left" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
        style="max-width:600px; width:100%; font-size: 16px; background-color: #ffffff;">

        <!-- item -->
        <tr>
          <td style="width: 16px; vertical-align: top; padding-top: 5px;">
            <img src="https://pradoinsurance.com/email-assets/ico-light.png" width="16" height="16" alt="icon" border="0"
              style="display: block; width: 16px; height: 16px; border-radius: 8px; margin: 0; padding: 0; border: none; background: #D9D9D9;"
              class="img g-img">
          </td>
          <td style="width: 100%; padding-left: 10px; vertical-align: middle;">
            <h3
              style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
              class="title cl-dark">
              Lorem ipsum dolor sit amet</h3>
            <p style=" margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.3em; text-align: left; color: #06050a;"
              class="regularText cl-dark">
              Lorem ipsum, dolor sit amet consectetur <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">Texto en Negrita</span> adipisicing elit. Alias maxime ut cum expedita quae corrupti vero magnam voluptatem nostrum.
            </p>
          </td>
        </tr>

        <!-- space -->
        <tr><td height="15" style="font-size:15px; line-height:15px;"></td></tr>

        <!-- item -->
        <tr>
          <td style="width: 16px; vertical-align: top; padding-top: 5px;">
            <img src="https://pradoinsurance.com/email-assets/ico-light.png" width="16" height="16" alt="icon" border="0"
              style="display: block; width: 16px; height: 16px; border-radius: 8px; margin: 0; padding: 0; border: none; background: #D9D9D9;"
              class="img g-img">
          </td>
          <td style="width: 100%; padding-left: 10px; vertical-align: middle;">
            <h3
              style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
              class="title cl-dark">
              Lorem ipsum dolor sit amet</h3>
            <p style=" margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.3em; text-align: left; color: #06050a;"
              class="regularText cl-dark">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias maxime ut cum expedita quae corrupti vero magnam voluptatem nostrum.
            </p>
          </td>
        </tr>

        <!-- space -->
        <tr><td height="15" style="font-size:15px; line-height:15px;"></td></tr>

        <!-- item -->
        <tr>
          <td style="width: 16px; vertical-align: top; padding-top: 5px;">
            <img src="https://pradoinsurance.com/email-assets/ico-light.png" width="16" height="16" alt="icon" border="0"
              style="display: block; width: 16px; height: 16px; border-radius: 8px; margin: 0; padding: 0; border: none; background: #D9D9D9;"
              class="img g-img">
          </td>
          <td style="width: 100%; padding-left: 10px; vertical-align: middle;">
            <h3
              style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
              class="title cl-dark">
              Lorem ipsum dolor sit amet</h3>
            <p style=" margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: 1.3em; text-align: left; color: #06050a;"
              class="regularText cl-dark">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias maxime ut cum expedita quae corrupti vero magnam voluptatem nostrum.
            </p>
          </td>
        </tr>

      </table>

    </td>
  </tr>

  <tr><td height="20" style="font-size:20px; line-height:20px;"></td></tr>

</table>