<!-- ?: 002 > footer - full - v3.0 -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
  style="max-width: 600px; width: 100%; font-size: 16px;">
  <tr>
    <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
  </tr>

  <!-- info footer -->
  <tr>
    <td align="center" valign="top" style="max-width: 100%; width: 100%;">

      <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bg-color="#f6f6f6"
        style="border-radius: 25px 25px 0 0; background-color: #f6f6f6;">

        <tr>
          <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
        </tr>

        <tr>
          <td align="center" valign="top">

            <!-- + _title-mainTitle - v3.0 -->
            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f6f6f6">

              <tr>
                <td height="25" style="font-size:25px; line-height:25px;"></td>
              </tr>

              <tr>
                <td align="center" valign="top" style="padding: 0;">
                  <table width="600" cellpadding="0" cellspacing="0" border="0"
                    style="max-width:600px; width:100%; font-size: 16px;">
                    <tr>
                      <td width="600" align="center" valign="top" style="padding: 0 10px;">
                        <h2
                          style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1.3em; line-height: 1.2em; font-weight: 800; text-align: center; color: #06050a;"
                          class="mainTitle cl-dark">
                          Main Title Text Test
                        </h2>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td height="15" style="font-size:15px; line-height:15px;"></td>
              </tr>

            </table>

            <!-- + _list-columns-x2-image-border-text - ADAPTADO ANCHO FOOTER - v3.0 -->
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="max-width:600px; width:100%;"
              bgcolor="#f6f6f6">
            
              <tr>
                <td height="20" style="font-size:20px; line-height:20px;"></td>
              </tr>
            
              <!-- fila x2 items -->
              <tr>
                <td align="center" valign="top">
            
                  <table width="600" align="center" border="0" cellspacing="0" cellpadding="0"
                    style="max-width:600px; width:100%; font-size: 16px;">
                    <tr>
            
                      <!-- item -->
                      <td width="300" align="center" valign="top"
                        style="display: inline-block; width: 46%; max-width: 600px; padding: 0 2%;" class="stack-column">
                        <div style="width: 100%; max-width: 600px; vertical-align: top;" class="stack-column">
                          <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0">
            
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
                            <tr>
                              <td style="width: 30%; max-width: 90px; vertical-align: top;">
                                <img
                                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/907dc812-fa19-4957-ab35-bb8542796433.png"
                                  width="90" height="" alt="banca por internet" border="0"
                                  style="display: block; width: 100%; height: auto; border-radius: 0 1em 1em 1em; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                                  class="img g-img">
                              </td>
                              <td style="width: 100%; padding-left: 20px; vertical-align: top;">
                                <h3
                                  style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                                  class="title cl-dark">
                                  Lorem ipsum dolor</h3>
                                <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                                  class="regularText cl-grey">
                                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              </td>
                            </tr>
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
            
                          </table>
                        </div>
                      </td>
            
                      <!-- item -->
                      <td width="300" align="center" valign="top"
                        style="display: inline-block; width: 46%; max-width: 600px; padding: 0 2%;" class="stack-column">
                        <div style="width: 100%; max-width: 600px; vertical-align: top;" class="stack-column">
                          <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0">
            
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
                            <tr>
                              <td style="width: 30%; max-width: 90px; vertical-align: top;">
                                <img
                                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/907dc812-fa19-4957-ab35-bb8542796433.png"
                                  width="90" height="" alt="banca por internet" border="0"
                                  style="display: block; width: 100%; height: auto; border-radius: 0 1em 1em 1em; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                                  class="img g-img">
                              </td>
                              <td style="width: 100%; padding-left: 20px; vertical-align: top;">
                                <h3
                                  style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                                  class="title cl-dark">
                                  Lorem ipsum dolor</h3>
                                <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                                  class="regularText cl-grey">
                                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              </td>
                            </tr>
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
            
                          </table>
                        </div>
                      </td>
            
                    </tr>
                  </table>
            
                </td>
              </tr>
            
              <tr>
                <td height="5" style="font-size:5px; line-height:5px;"></td>
              </tr>
            
              <!-- fila x2 items -->
              <tr>
                <td align="center" valign="top">
            
                  <table width="600" align="center" border="0" cellspacing="0" cellpadding="0"
                    style="max-width:600px; width:100%; font-size: 16px;">
                    <tr>
            
                      <!-- item -->
                      <td width="300" align="center" valign="top"
                        style="display: inline-block; width: 46%; max-width: 600px; padding: 0 2%;" class="stack-column">
                        <div style="width: 100%; max-width: 600px; vertical-align: top;" class="stack-column">
                          <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0">
            
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
                            <tr>
                              <td style="width: 30%; max-width: 90px; vertical-align: top;">
                                <img
                                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/907dc812-fa19-4957-ab35-bb8542796433.png"
                                  width="90" height="" alt="banca por internet" border="0"
                                  style="display: block; width: 100%; height: auto; border-radius: 0 1em 1em 1em; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                                  class="img g-img">
                              </td>
                              <td style="width: 100%; padding-left: 20px; vertical-align: top;">
                                <h3
                                  style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                                  class="title cl-dark">
                                  Lorem ipsum dolor</h3>
                                <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                                  class="regularText cl-grey">
                                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              </td>
                            </tr>
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
            
                          </table>
                        </div>
                      </td>
            
                      <!-- item -->
                      <td width="300" align="center" valign="top"
                        style="display: inline-block; width: 46%; max-width: 600px; padding: 0 2%;" class="stack-column">
                        <div style="width: 100%; max-width: 600px; vertical-align: top;" class="stack-column">
                          <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0">
            
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
                            <tr>
                              <td style="width: 30%; max-width: 90px; vertical-align: top;">
                                <img
                                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/907dc812-fa19-4957-ab35-bb8542796433.png"
                                  width="90" height="" alt="banca por internet" border="0"
                                  style="display: block; width: 100%; height: auto; border-radius: 0 1em 1em 1em; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                                  class="img g-img">
                              </td>
                              <td style="width: 100%; padding-left: 20px; vertical-align: top;">
                                <h3
                                  style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                                  class="title cl-dark">
                                  Lorem ipsum dolor</h3>
                                <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                                  class="regularText cl-grey">
                                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                              </td>
                            </tr>
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
            
                          </table>
                        </div>
                      </td>
            
                    </tr>
                  </table>
            
                </td>
              </tr>
            
              <tr>
                <td height="20" style="font-size:20px; line-height:20px;"></td>
              </tr>
            
            </table>

            <!-- + _title-mainTitle - v3.0 -->
            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#f6f6f6">

              <tr>
                <td height="25" style="font-size:25px; line-height:25px;"></td>
              </tr>

              <tr>
                <td align="center" valign="top" style="padding: 0;">
                  <table width="600" cellpadding="0" cellspacing="0" border="0"
                    style="max-width:600px; width:100%; font-size: 16px;">
                    <tr>
                      <td width="600" align="center" valign="top" style="padding: 0 10px;">
                        <h2
                          style="margin: 0; font-family: 'Trebuchet MS', sans-serif; font-size: 1.3em; line-height: 1.2em; font-weight: 800; text-align: center; color: #06050a;"
                          class="mainTitle cl-dark">
                          Main Title Text Test
                        </h2>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td height="15" style="font-size:15px; line-height:15px;"></td>
              </tr>

            </table>

            <!-- + _list-columns-x2-icon-60px - ADAPTADO ANCHO FOOTER - v3.0 -->
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0"
              style="max-width:600px; width:100%;" bgcolor="#f6f6f6">

              <tr>
                <td height="20" style="font-size:20px; line-height:20px;"></td>
              </tr>

              <!-- fila x2 items -->
              <tr>
                <td align="center" valign="top">

                  <table width="600" align="center" border="0" cellspacing="0" cellpadding="0"
                    style="max-width:600px; width:100%; font-size: 16px;">
                    <tr>

                      <!-- item -->
                      <td width="300" align="center" valign="top"
                        style="display: inline-block; width: 46%; max-width: 600px; padding: 0 2%;"
                        class="stack-column">
                        <div style="width: 100%; max-width: 600px; vertical-align: top;" class="stack-column">
                          <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0">

                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
                            <tr>
                              <td style="width: 60px; vertical-align: top;">
                                <img
                                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/af42cbe1-cf12-4d54-a3e5-238cbf03e901.png"
                                  width="60" height="60" alt="descripción del contenido de la imagen" border="0"
                                  style="display: block; width: 60px; height: 60px; border-radius: 30px; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                                  class="img g-img">
                              </td>
                              <td style="width: 100%; padding-left: 20px; vertical-align: middle;">
                                <h3
                                  style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                                  class="title cl-dark">
                                  Sed do eiusmod</h3>
                                <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                                  class="regularText cl-grey">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit quisquam sit provident.</p>
                              </td>
                            </tr>
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>

                          </table>
                        </div>
                      </td>

                      <!-- item -->
                      <td width="300" align="center" valign="top"
                        style="display: inline-block; width: 46%; max-width: 600px; padding: 0 2%;"
                        class="stack-column">
                        <div style="width: 100%; max-width: 600px; vertical-align: top;" class="stack-column">
                          <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0">

                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
                            <tr>
                              <td style="width: 60px; vertical-align: top;">
                                <img
                                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/af42cbe1-cf12-4d54-a3e5-238cbf03e901.png"
                                  width="60" height="60" alt="descripción del contenido de la imagen" border="0"
                                  style="display: block; width: 60px; height: 60px; border-radius: 30px; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                                  class="img g-img">
                              </td>
                              <td style="width: 100%; padding-left: 20px; vertical-align: middle;">
                                <h3
                                  style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                                  class="title cl-dark">
                                  Sed do eiusmod</h3>
                                <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                                  class="regularText cl-grey">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit quisquam sit provident.</p>
                              </td>
                            </tr>
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>

                          </table>
                        </div>
                      </td>

                    </tr>
                  </table>

                </td>
              </tr>

              <tr>
                <td height="5" style="font-size:5px; line-height:5px;"></td>
              </tr>

              <!-- fila x2 items -->
              <tr>
                <td align="center" valign="top">

                  <table width="600" align="center" border="0" cellspacing="0" cellpadding="0"
                    style="max-width:600px; width:100%; font-size: 16px;">
                    <tr>

                      <!-- item -->
                      <td width="300" align="center" valign="top"
                        style="display: inline-block; width: 46%; max-width: 600px; padding: 0 2%;"
                        class="stack-column">
                        <div style="width: 100%; max-width: 600px; vertical-align: top;" class="stack-column">
                          <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0">

                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
                            <tr>
                              <td style="width: 60px; vertical-align: top;">
                                <img
                                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/af42cbe1-cf12-4d54-a3e5-238cbf03e901.png"
                                  width="60" height="60" alt="descripción del contenido de la imagen" border="0"
                                  style="display: block; width: 60px; height: 60px; border-radius: 30px; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                                  class="img g-img">
                              </td>
                              <td style="width: 100%; padding-left: 20px; vertical-align: middle;">
                                <h3
                                  style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                                  class="title cl-dark">
                                  Sed do eiusmod</h3>
                                <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                                  class="regularText cl-grey">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit quisquam sit provident.</p>
                              </td>
                            </tr>
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>

                          </table>
                        </div>
                      </td>

                      <!-- item -->
                      <td width="300" align="center" valign="top"
                        style="display: inline-block; width: 46%; max-width: 600px; padding: 0 2%;"
                        class="stack-column">
                        <div style="width: 100%; max-width: 600px; vertical-align: top;" class="stack-column">
                          <table width="100%" align="left" cellspacing="0" cellpadding="0" border="0">

                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>
                            <tr>
                              <td style="width: 60px; vertical-align: top;">
                                <img
                                  src="https://storage-masivdrive.masivapp.com/12955/e9b147cb-edd9-4517-9055-0238dbde7d57/af42cbe1-cf12-4d54-a3e5-238cbf03e901.png"
                                  width="60" height="60" alt="descripción del contenido de la imagen" border="0"
                                  style="display: block; width: 60px; height: 60px; border-radius: 30px; margin: 0; padding: 0; border: none; background: #D9D9D9;"
                                  class="img g-img">
                              </td>
                              <td style="width: 100%; padding-left: 20px; vertical-align: middle;">
                                <h3
                                  style="margin: 0 0 0.3em; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1.125em; line-height: 1.25em; font-weight: 800; color: #06050a;"
                                  class="title cl-dark">
                                  Sed do eiusmod</h3>
                                <p style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: left; font-size: 1em; line-height: 1.3em; color: #f7f7f9;"
                                  class="regularText cl-grey">
                                  Lorem ipsum dolor sit amet consectetur adipisicing elit quisquam sit provident.</p>
                              </td>
                            </tr>
                            <tr>
                              <td height="10" style="font-size:10px; line-height:10px;"></td>
                            </tr>

                          </table>
                        </div>
                      </td>

                    </tr>
                  </table>

                </td>
              </tr>

              <tr>
                <td height="20" style="font-size:20px; line-height:20px;"></td>
              </tr>

            </table>


          </td>
        </tr>

        <tr>
          <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
        </tr>

      </table>

    </td>
  </tr>

  <!-- + _ly-footer-lite - ADAPTADO - v3.0 -->
  <tr>
    <td align="center" valign="top" style="max-width: 100%; width: 100%;">
  
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bg-color="#85071f"
        style="border-radius: 0 0 25px 25px; background-color: #85071f;">
  
        <tr>
          <td height="45" style="font-size:45px; line-height:45px;">&nbsp;</td>
        </tr>
  
        <!-- logo -->
        <tr>
          <td width="600" align="center" valign="top">
            <img
              src="https://storage-masivdrive.masivapp.com/12955/962bc5c6-bccc-4b1b-b72c-ed04fb88109d/ef0c7508-7ecb-4116-b5ac-d76a5710b2d1.png"
              width="250" height="" alt="texto alternativo"
              style="display: block; margin:0; padding:0; border:none; width: 70%; max-width: 250px; height: auto;"
              border="0" class="img g-img">
          </td>
        </tr>
  
        <tr>
          <td height="20" style="font-size:20px; line-height:20px;">&nbsp;</td>
        </tr>
  
        <!-- links -->
        <tr>
          <td width="600" align="center" valign="top" style="padding: 0 10px;">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
              <tr style="text-align: center;">
                <td style="width: 100%; max-width: 600px; display: block;">
                  <a href="https://www.qapaq.pe/url-de-destino.html" target="_blank"
                    style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: center; text-decoration: underline; font-size: 1.125em; line-height: 1.3em; color: #ffffff; font-weight: 800;">
                    Préstamos para lo que necesites</a>
                </td>
              </tr>
  
              <tr>
                <td height="5" style="font-size:5px; line-height:5px;">&nbsp;</td>
              </tr>
  
              <tr style="text-align: center;">
                <td style="width: 100%; max-width: 600px; display: block;">
                  <a href="https://www.qapaq.pe/url-de-destino.html" target="_blank"
                    style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: center; text-decoration: underline; font-size: 1.125em; line-height: 1.3em; color: #ffffff; font-weight: 800;">
                    Abre tu cuenta 100% digital</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
  
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
  
        <!-- + _ly-border-line -->
        <tr>
          <td style="width: 100%; max-width: 600px; display: block; padding-top: 29px; border-bottom: 1px solid #ff83a8;">
          </td>
        </tr>
  
        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>
  
        <!-- contacto -->
        <tr>
          <td width="600" align="center" valign="top" style="padding: 0 10px;">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
              <tr style="text-align: center;">
                <td style="width: 100%; max-width: 600px; display: block;">
                  <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 1.25em; line-height: 1.3em; font-weight: 600; text-align: center; color: #ffffff;"
                    class="subTitle cl-white">
                    Contáctanos:<br>CALL CENTER: (01) 7123223
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
  
        <tr>
          <td height="20" style="font-size:20px; line-height:20px;">&nbsp;</td>
        </tr>
  
        <!-- social -->
        <tr>
          <td width="600" align="center" valign="top" style="padding: 0 10px;">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0"
              style="max-width: 200px; width: 100%;">
              <tr style="text-align: center;">
                <td style="padding: 0 16px;">
                  <a href="https://www.facebook.com/qapaqfinancierasolidaria/" target="_blank">
                    <img
                      src="https://storage-masivdrive.masivapp.com/12955/052408e5-d3f6-4495-8913-362ea51d99bf/d8a4ec5c-64e2-42ae-a52d-3fea3a2458f7.png"
                      width="40" height="40" alt="Síguenos en facebook" border="0"
                      style="width: 40px; height: 40px; border-radius: 20px; background: #D9D9D9; margin: 0 auto; padding: 0; border: none; display: block;"
                      class="img g-img">
                  </a>
                </td>
                <td style="padding: 0 16px;">
                  <a href="https://www.instagram.com/financiera_qapaq/" target="_blank">
                    <img
                      src="https://storage-masivdrive.masivapp.com/12955/052408e5-d3f6-4495-8913-362ea51d99bf/0031cf9a-bc97-4289-946d-14b100933a9f.png"
                      width="40" height="40" alt="síguenos en instagram" border="0"
                      style="width: 40px; height: 40px; border-radius: 20px; background: #D9D9D9; margin: 0 auto; padding: 0; border: none; display: block;"
                      class="img g-img">
                  </a>
                </td>
                <td style="padding: 0 16px;">
                  <a href="https://www.youtube.com/@qapaqperu595" target="_blank">
                    <img
                      src="https://storage-masivdrive.masivapp.com/12955/052408e5-d3f6-4495-8913-362ea51d99bf/140add67-6936-48dd-9b24-9cd247c84eb3.png"
                      width="40" height="40" alt="síguenos en YouTube" border="0"
                      style="width: 40px; height: 40px; border-radius: 20px; background: #D9D9D9; margin: 0 auto; padding: 0; border: none; display: block;"
                      class="img g-img">
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
  
        <tr>
          <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
        </tr>
  
      </table>
  
    </td>
  </tr>

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
  </tr>

</table>