<!-- ?: 002 > footer - lite - v3.0 -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff"
  style="max-width: 600px; width: 100%; font-size: 16px;">
  <tr>
    <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
  </tr>

  <!-- + _ly-footer-lite - v3.0 -->
  <tr>
    <td width="600" align="center" valign="top" style="max-width: 600px; width: 100%;">

      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bg-color="#85071f"
        style="max-width: 600px; width: 100%; border-radius: 25px; background-color: #85071f;">

        <tr>
          <td height="45" style="font-size:45px; line-height:45px;">&nbsp;</td>
        </tr>

        <!-- logo -->
        <tr>
          <td width="600" align="center" valign="top">
            <img
              src="https://storage-masivdrive.masivapp.com/12955/962bc5c6-bccc-4b1b-b72c-ed04fb88109d/ef0c7508-7ecb-4116-b5ac-d76a5710b2d1.png"
              width="250" height="" alt="texto alternativo"
              style="display: block; margin:0; padding:0; border:none; width: 70%; max-width: 250px; height: auto;"
              border="0" class="img g-img">
          </td>
        </tr>

        <tr>
          <td height="20" style="font-size:20px; line-height:20px;">&nbsp;</td>
        </tr>

        <!-- links -->
        <tr>
          <td width="600" align="center" valign="top" style="padding: 0 10px;">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
              <tr style="text-align: center;">
                <td style="width: 100%; max-width: 600px; display: block;">
                  <a href="#" target="_blank"
                    style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: center; text-decoration: underline; font-size: 1.125em; line-height: 1.3em; color: #ffffff; font-weight: 800;">
                    Préstamos para lo que necesites</a>
                </td>
              </tr>

              <tr>
                <td height="5" style="font-size:5px; line-height:5px;">&nbsp;</td>
              </tr>

              <tr style="text-align: center;">
                <td style="width: 100%; max-width: 600px; display: block;">
                  <a href="#" target="_blank"
                    style="margin: 0; font-family: 'Trebuchet MS', sans-serif; text-align: center; text-decoration: underline; font-size: 1.125em; line-height: 1.3em; color: #ffffff; font-weight: 800;">
                    Abre tu cuenta 100% digital</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>

        <!-- + _ly-border-line -->
        <tr>
          <td
            style="width: 100%; max-width: 600px; display: block; padding-top: 29px; border-bottom: 1px solid #ff83a8;">
          </td>
        </tr>

        <tr>
          <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
        </tr>

        <!-- contacto -->
        <tr>
          <td width="600" align="center" valign="top" style="padding: 0 10px;">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
              <tr style="text-align: center;">
                <td style="width: 100%; max-width: 600px; display: block;">
                  <p style="font-family: 'Trebuchet MS', sans-serif; font-size: 1.25em; line-height: 1.3em; font-weight: 600; text-align: center; color: #ffffff;"
                    class="subTitle cl-white">
                    Contáctanos:<br>CALL CENTER: (01) 7123223
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td height="20" style="font-size:20px; line-height:20px;">&nbsp;</td>
        </tr>

        <!-- social -->
        <tr>
          <td width="600" align="center" valign="top" style="padding: 0 10px;">
            <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0"
              style="max-width: 200px; width: 100%;">
              <tr style="text-align: center;">
                <td style="padding: 0 16px;">
                  <a href="https://www.facebook.com/qapaqfinancierasolidaria/" target="_blank">
                    <img
                      src="https://storage-masivdrive.masivapp.com/12955/052408e5-d3f6-4495-8913-362ea51d99bf/ed5f0d42-849e-49c5-b3e2-1f79ac02c192.png"
                      width="40" height="40" alt="Síguenos en facebook" border="0"
                      style="width: 40px; height: 40px; border-radius: 20px; background: #D9D9D9; margin: 0 auto; padding: 0; border: none; display: block;"
                      class="img g-img">
                  </a>
                </td>
                <td style="padding: 0 16px;">
                  <a href="https://www.instagram.com/financiera_qapaq/" target="_blank">
                    <img
                      src="https://storage-masivdrive.masivapp.com/12955/052408e5-d3f6-4495-8913-362ea51d99bf/561f34bb-3876-4664-841f-d069414380f0.png"
                      width="40" height="40" alt="síguenos en instagram" border="0"
                      style="width: 40px; height: 40px; border-radius: 20px; background: #D9D9D9; margin: 0 auto; padding: 0; border: none; display: block;"
                      class="img g-img">
                  </a>
                </td>
                <td style="padding: 0 16px;">
                  <a href="https://www.youtube.com/@qapaqperu595" target="_blank">
                    <img
                      src="https://storage-masivdrive.masivapp.com/12955/052408e5-d3f6-4495-8913-362ea51d99bf/62aabb1d-c529-4922-ab4e-757e8f448520.png"
                      width="40" height="40" alt="síguenos en YouTube" border="0"
                      style="width: 40px; height: 40px; border-radius: 20px; background: #D9D9D9; margin: 0 auto; padding: 0; border: none; display: block;"
                      class="img g-img">
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
        </tr>

      </table>

    </td>
  </tr>

  <tr>
    <td height="30" style="font-size:30px; line-height:30px;">&nbsp;</td>
  </tr>

</table>