<!-- + _ly-signature - prado -->
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="max-width:600px; width:100%; background-color: #ffffff;">

  <tr>
    <td height="5" style="font-size:5px; line-height:5px;"></td>
  </tr>

  <tr>
    <td align="center" valign="top" style="padding: 0">
      <table width="600" cellpadding="0" cellspacing="0" border="0" style="max-width:600px; width:100%; font-size: 16px;">
        <tr>
          <td width="600" align="center" valign="top" style="padding: 0 10px;">
            <p style="margin: 0 0 1rem; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: .8em; color: #9A9A9A; text-align: justify;" class="regularText cl-dark-soft">
              Saludos cordiales.
            </p>
            <p style="margin: 0 0 1rem; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: .8em; color: #9A9A9A; text-align: justify;" class="regularText cl-dark-soft">
              <span style="font-weight: 800; color: #06050a;" class="regularText cl-dark">@{agent-fullname}</span> | @{agent-position}
            </p>
            <p style="margin: 0 0 1rem; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: .8em; color: #9A9A9A; text-align: justify;" class="regularText cl-dark-soft">
              PRADO Corredores de Seguros S.A.
            </p>
            <p style="margin: 0 0 1rem; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: .8em; color: #9A9A9A; text-align: justify;" class="regularText cl-dark-soft">
              Registro SBS Nª 3-0655 | <a style="color: #85071f; text-decoration: underline;" class="cl-red" href="https://www.pradoinsurance.com">www.pradoinsurance.com</a>
            </p>
            <p style="margin: 0 0 1rem; font-family: 'Trebuchet MS', sans-serif; font-size: 1em; line-height: .8em; color: #9A9A9A; text-align: justify;" class="regularText cl-dark-soft">
              T: <a style="color: #85071f; text-decoration: underline;" class="cl-red" href="tel:+5117151111">7151111</a> Ext. 211 | <a style="color: #85071f; text-decoration: underline;" class="cl-red" href="tel:+51980608007">980 608 007</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td height="45" style="font-size:45px; line-height:45px;"></td>
  </tr>

</table>